<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agendamientoconsultorioodontologico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgendamientoConsultorioOdontologico">
        <activity android:name=".registrarUsuario"/>
        <activity android:name=".MainActivity_descripcion_doc"/>
        <activity android:name=".DetalleCitasPaciente" />
        <activity android:name=".ListCitasPaciente" />
        <activity android:name=".CreateCitPaciente" />
        <activity android:name=".MainActivity2_Doctor" />
        <activity android:name=".MainActivityPaciente" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>